
.rstyle4 {
    background-color: #6699ff;
    font-family: »ªÎÄ·ÂËÎ;
    font-size: 16px;
    text-align: center;
}
.rstyle5 {
    background-color: #ccffff;
    font-size: 12px;
    text-align: right;
}
.rstyle6 {
    background-color: #ffffcc;
    text-align: left;
}
.rstyle7 {
    color: #ff0000;
    font-size: x-large;
}
.rstyle8 {
    font-size: 12px;
}
.rstyle9 {
    background-color: #ffffcc;
    font-size: 12px;
    text-align: left;
    white-space: nowrap;
}
